.lang-switch {
    display: flex;
    overflow: hidden;
}
.lang-switch input[type=radio] {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.lang-switch label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: .75rem;
    line-height: 1;
    text-align: center;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    margin-bottom: 0;
}
.lang-switch label:hover {
    cursor: pointer;
}
.lang-switch label.checked {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.lang-switch label.checked:hover {
    cursor: default;
}

.lang-switch label:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.lang-switch label:last-child {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}